<div class="card">
    <div class="card-header">
        Konsola
    </div>
    <div id="console_container">
        <textarea spellcheck="false" title="console" id="console_window"></textarea>
    </div>

</div>